.nav .nav__logo, .plan .plan__format, .anons .anons__add { font: 0/0 a; text-shadow: none; color: transparent; }

.nav, .search__field, .search__filter, .subnav ul, .header, .l, .solved, .collaboration ul, .docs, .docs__cols, .popup figure, .squadmember__chronicle dl, .news, .team__members { *zoom: 1; }
.nav:before, .search__field:before, .search__filter:before, .subnav ul:before, .header:before, .l:before, .solved:before, .collaboration ul:before, .docs:before, .docs__cols:before, .popup figure:before, .squadmember__chronicle dl:before, .news:before, .team__members:before, .nav:after, .search__field:after, .search__filter:after, .subnav ul:after, .header:after, .l:after, .solved:after, .collaboration ul:after, .docs:after, .docs__cols:after, .popup figure:after, .squadmember__chronicle dl:after, .news:after, .team__members:after { content: " "; display: table; }
.nav:after, .search__field:after, .search__filter:after, .subnav ul:after, .header:after, .l:after, .solved:after, .collaboration ul:after, .docs:after, .docs__cols:after, .popup figure:after, .squadmember__chronicle dl:after, .news:after, .team__members:after { clear: both; }

@font-face { font-family: 'PT Sans regular'; src: url("../fonts/pts55f_w.eot"); src: url("../fonts/pts55f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F_W.woff") format("woff"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'PT Sans italic'; src: url("../fonts/pts56f_w.eot"); src: url("../fonts/pts56f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS56F_W.woff") format("woff"), url("../fonts/PTS56F_W.ttf") format("truetype"), url("../fonts/PTS56F_W.svg#PTSans-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'PT Sans bold'; src: url("../fonts/pts75f_w.eot"); src: url("../fonts/pts75f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F_W.woff") format("woff"), url("../fonts/PTS75F_W.ttf") format("truetype"), url("../fonts/PTS75F_W.svg#PTSans-Regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'AGLettericaCondensed-Bold'; src: url("../fonts/AGLettericaCondensed_Bold.eot"); src: url("../fonts/AGLettericaCondensed_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AGLettericaCondensed_Bold.woff") format("woff"), url("../fonts/AGLettericaCondensed_Bold.ttf") format("truetype"), url("../fonts/AGLettericaCondensed_Bold.svg#AGLettericaCondensed-Bold") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { background: #EAEDEF; font-family: 'PT Sans regular', arial, sans-serif; line-height: 1.4; min-width: 1020px; }

a { color: #f82502; text-decoration: none; }
a:hover { text-decoration: underline; }

a img, fieldset { border: none; }

.page { padding: 55px 0px 30px 0px; }

.content { margin-top: 58px; padding: 0 30px; }

.nav { background: #2E3845; height: 60px; }
.nav .nav__inner { width: 1020px; margin: 0 auto; position: relative; }
.nav .nav__ul { list-style: none; margin-left: 71px; font-size: 0; float: left; }
.nav .nav__ul li { display: inline-block; margin-left: -1px; z-index: 1; position: relative; }
.nav .nav__ul li:hover, .nav .nav__ul li.is-active { background: #f82502; }
.nav .nav__ul li:hover a, .nav .nav__ul li.is-active a { color: #fff; }
.nav .nav__ul li:hover a:before, .nav .nav__ul li.is-active a:before { content: none; }
.nav .nav__ul a { display: inline-block; color: #a0afc3; text-decoration: none; height: 60px; line-height: 60px; padding: 0 13px; position: relative; font-size: 17px; }
.nav .nav__ul a:before { content: ' '; position: absolute; right: 0; top: 20px; border-right: 1px solid #354151; height: 22px; width: 1px; }
.nav .nav__ul a:hover { color: #fff; }
.nav .nav__ul li:last-child a:before { display: none; }
.nav .nav__logo { position: absolute; left: 21px; top: 12px; background: url('../img/icons-s69a073c04a.png') 0 -84px no-repeat; width: 32px; height: 32px; }
.nav .nav__search { position: relative; float: right; width: 117px; color: #a1b0c2; font-size: 17px; text-align: center; height: 60px; line-height: 60px; }
.nav .nav__search i { background: url('../img/icons-s69a073c04a.png') 0 -718px no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; content: ""; margin-left: 10px; margin-top: -5px; }
.nav .nav__search:hover, .nav .nav__search.is-open { cursor: pointer; background-color: #000; color: #fff; }
.nav .nav__search:hover i, .nav .nav__search.is-open i { background: url('../img/icons-s69a073c04a.png') 0 -306px no-repeat; width: 16px; height: 16px; }

.search { display: none; background-color: #020203; font-size: 14px; color: #9fafc3; }

.search__in { width: 1020px; margin: 0 auto; padding-top: 40px; padding-bottom: 25px; }

.search__wrap { padding-left: 22px; }

.search__field { width: 938px; position: relative; font-size: 18px; }

.search__text { float: left; width: 827px; background: #fff; border-style: none; font-size: 18px; color: #2d3746; padding: 11px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.search__text:-moz-placeholder { color: #b9bdbb; }
.search__text::-webkit-input-placeholder { color: #b9bdbb; }

.search__erase { background: url('../img/icons-s69a073c04a.png') 0 -332px no-repeat; width: 20px; height: 14px; content: ""; position: absolute; top: 50%; margin-top: -7px; left: 787px; }
.search__erase:hover { cursor: pointer; }

.search__submit { float: right; width: 111px; background-color: #f82502; border: 0; height: 44px; line-height: 44px; color: #fff; font-size: 18px; }
.search__submit:hover { cursor: pointer; }

.search__close { position: absolute; top: 50%; margin-top: -8px; right: -50px; content: ""; cursor: pointer; background: url('../img/icons-s69a073c04a.png') 0 -487px no-repeat; width: 19px; height: 17px; }

.search__filter { margin-top: 22px; }
.search__filter ul { float: left; }
.search__filter li { position: relative; list-style-type: none; float: left; padding-left: 30px; }
.search__filter li.is-active i { display: block; }
.search__filter li.is-active a { color: #f82502; text-decoration: none; }
.search__filter li i { display: none; position: absolute; content: ""; top: 0; left: 13px; background: url('../img/icons-s69a073c04a.png') 0 -281px no-repeat; width: 15px; height: 15px; }
.search__filter a { color: #9fafc3; text-decoration: none; }
.search__filter a:hover { color: #f82502; text-decoration: none; }

.search__filter-title { float: left; }

.subnav { height: 75px; background-color: #f82502; }
.subnav ul { padding-left: 1px; margin-left: 70px; }
.subnav li { float: left; margin-left: -1px; list-style-type: none; }
.subnav li:hover, .subnav li.is-active { background-color: #fa674e; margin-left: -1px; }
.subnav a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: top; color: #fff; width: 100%; padding: 0 25px 0 15px; font-weight: bold; text-decoration: none; height: 75px; line-height: 1.4; font-family: 'PT Sans bold', arial, sans-serif; position: relative; font-size: 14px; padding-top: 18px; }
.subnav a:before { content: ' '; position: absolute; right: 0; top: 21px; border-right: 1px solid #fa674e; height: 28px; width: 1px; }
.subnav a:hover { color: #fff; }
.subnav li:last-child a:before { display: none; }

.subnav__inner { width: 1020px; margin: 0 auto; }

.header { margin: 0 30px; }
.header .header__title { font-family: 'AGLettericaCondensed-Bold', arial, sans-serif; font-weight: normal; font-size: 30px; color: #2d3746; line-height: 1.1; position: relative; padding-left: 30px; width: 640px; float: left; }
.header .header__title i { background: url('../img/icons-s69a073c04a.png') 0 -877px no-repeat; width: 2px; height: 60px; position: absolute; left: 0; top: 3px; }

.plan { float: right; color: #fa4b2a; text-decoration: none; font-family: Arial,sans-serif; width: 200px; padding-left: 50px; position: relative; font-size: 15px; }
.plan:hover { text-decoration: underline; }
.plan .plan__meta { position: absolute; left: 0; top: 0; text-align: center; }
.plan .plan__format { display: block; margin-bottom: 6px; display: inline-block; }
.plan .plan__size { color: #b4b3b3; font-size: 12px; display: block; text-align: center; }
.plan.plan_mod { float: left; width: 100%; }
.plan.plan_pdf { color: #fa4b2a; }
.plan.plan_pdf .plan__format { background: url('../img/icons-s69a073c04a.png') 0 -744px no-repeat; width: 25px; height: 17px; }
.plan.plan_doc { color: #0963c1; }
.plan.plan_doc .plan__format { background: url('../img/icons-s69a073c04a.png') 0 -198px no-repeat; width: 26px; height: 18px; }
.plan.plan_rtf { color: #5f504f; }
.plan.plan_rtf .plan__format { background: url('../img/icons-s69a073c04a.png') 0 -356px no-repeat; width: 23px; height: 17px; }
.plan.plan_long { float: left; width: 100%; }

body, html { height: 100%; }

.site { position: relative; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -230px; }

.footer, .site__push { height: 230px; }

.footer { overflow: hidden; }
.footer .footer__in { background: #2E3845; width: 1020px; margin: 0 auto; padding: 20px 0; height: 190px; }
.footer a { color: #a0afc3; }
.footer a:hover { color: #fff; }
.footer .footer__other { float: left; width: 322px; }
.footer .footer__search { border-bottom: 1px solid #3A4757; padding-bottom: 14px; position: relative; margin-bottom: 19px; }
.footer .footer__searchicon { position: absolute; background: url('../img/icons-s69a073c04a.png') 0 -718px no-repeat; width: 16px; height: 16px; top: 3px; left: 3px; }
.footer .footer__searchsubmit { visibility: hidden; position: absolute; }
.footer .footer__searchfield { width: 288px; margin-left: 33px; font-size: 17px; border-style: none; background: transparent; padding: 0; }
.footer .footer__searchfield:-moz-placeholder { color: #9fafc1; }
.footer .footer__searchfield::-webkit-input-placeholder { color: #9fafc1; }
.footer .footer__searchfield:focus { outline: none; color: #fff; }
.footer .footer__nav { float: left; width: 281px; margin-left: 60px; list-style: none; }
.footer .footer__nav li { font-size: 17px; margin-bottom: 6px; }
.footer .footer__nav a { text-decoration: none; }

.gossites { float: left; margin-left: 30px; list-style: none; width: 287px; margin-top: 5px; }
.gossites li { padding-left: 40px; padding-right: 43px; position: relative; font-size: 13px; margin-bottom: 30px; }
.gossites li a { text-decoration: none; display: inline-block; }
.gossites li i { position: absolute; left: 0; top: -2px; display: inline-block; }
.gossites li.gossites__kremlin i { background: url('../img/icons-s69a073c04a.png') 0 0 no-repeat; width: 32px; height: 32px; left: -2px; }
.gossites li.gossites__gos i { background: url('../img/icons-s69a073c04a.png') 0 -626px no-repeat; width: 36px; height: 32px; left: -7px; }
.gossites li.gossites__sovet i { background: url('../img/icons-s69a073c04a.png') 0 -668px no-repeat; width: 36px; height: 15px; left: -4px; top: 18px; }
.gossites li.gossites__sovet a { color: #fc4d22; }

.flinks { list-style: none; font-size: 17px; }
.flinks li { margin-bottom: 13px; }
.flinks li.flinks__accessibility i { background: url('../img/icons-s69a073c04a.png') 0 -798px no-repeat; width: 20px; height: 11px; top: 5px; }
.flinks li.flinks__pda i { background: url('../img/icons-s69a073c04a.png') 0 -847px no-repeat; width: 12px; height: 20px; left: 2px; top: 1px; }
.flinks li.flinks__rss i { background: url('../img/icons-s69a073c04a.png') 0 -693px no-repeat; width: 15px; height: 15px; left: 2px; top: 2px; }
.flinks a { padding-left: 33px; display: block; text-decoration: none; position: relative; }
.flinks a:hover { color: #fff; }
.flinks a i { display: inline-block; position: absolute; left: 0; top: -1px; }

.page { background: #fff; width: 1020px; margin: 0 auto; }

.l { width: 100%; display: inline-block; }
.l .l-colleft { float: left; width: 578px; float: left; margin-left: 30px; display: inline; margin-top: 20px; }
.l .l-colleft .l-col1 { float: left; width: 260px; }
.l .l-colleft .l-col2 { float: right; width: 260px; }
.l .l-colright { float: right; width: 321px; border-left: 1px solid #D6D8DC; }
.l .l-main { float: left; width: 635px; margin-right: 30px; }
.l .l-sidebar { overflow: hidden; }
.l .l-left { float: left; width: 425px; }
.l .l-right { float: right; width: 425px; }

.h1 { font-size: 37px; font-weight: normal; font-family: 'PT Sans regular', arial, sans-serif; margin-bottom: 0.5em; line-height: 1.1; }

.h2 { font-size: 18px; font-weight: bold; margin-bottom: 1em; }

.h2_mod { line-height: 1.2; margin-bottom: 5px; }

.topnews { position: relative; margin-bottom: 30px; }
.topnews .topnews__content { position: absolute; left: 30px; bottom: 30px; width: 55%; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75); }
.topnews .topnews__title { font-size: 24px; font-weight: normal; color: #fff; line-height: 1.1; }
.topnews .topnews__published { font-size: 13px; color: #dee1e5; margin-top: 2px; }
.topnews .topnews__meta { color: #dee1e5; font-family: "Georgia", serif; font-size: 16px; font-style: italic; margin-top: 17px; }
.topnews.topnews_small { margin-bottom: 0; }
.topnews.topnews_small .topnews__title { font-size: 19px; margin-bottom: 5px; }
.topnews .topnews__pic { position: relative; }
.topnews .topnews__pic:after { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; content: ""; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, rgba(234, 237, 239, 0)), color-stop(90%, rgba(63, 72, 86, 0.7))); background-image: -webkit-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: -moz-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: -o-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); }
.topnews .topnews__pic img { display: block; }

.interview { position: relative; clear: both; }
.interview .interview__head { position: absolute; left: -30px; color: #fff; width: 160px; padding-left: 30px; height: 80px; line-height: 80px; font-size: 30px; font-size: 24px; font-family: 'AGLettericaCondensed-Bold', arial, sans-serif; background: #FF4A30; z-index: 10; }

.entrieswrap { border: 1px solid #DDDEE1; box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 5px 5px #ecedee; -moz-box-shadow: 0 5px 5px #ecedee; box-shadow: 0 5px 5px #ecedee; }
.entrieswrap .h2 { font-size: 30px; font-weight: normal; font-family: 'AGLettericaCondensed-Bold', arial, sans-serif; color: #2d3746; margin-bottom: 24px; }

.graywrap { padding: 30px 30px 1px 30px; background: #F2F2F2; border-bottom: 1px solid #D6D8DC; }

.anons { border-bottom: 1px solid #D6D8DC; height: 41px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); position: relative; }
.anons .anons__title { float: left; font-size: 17px; background: #F2F2F2; height: 41px; line-height: 41px; border-right: 1px solid #D6D8DC; padding: 0 14px 0 16px; text-decoration: none; }
.anons .anons__title i { background: url('../img/icons-s69a073c04a.png') 0 -771px no-repeat; width: 18px; height: 17px; display: inline-block; vertical-align: middle; margin-right: 11px; color: #2C3745; }
.anons .anons__content { color: #FF4835; height: 41px; line-height: 41px; overflow: hidden; padding-right: 50px; padding-left: 14px; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.anons .anons__content a { text-decoration: none; color: #FF4835; }
.anons .anons__add { background: url('../img/icons-s69a073c04a.png') 0 -819px no-repeat; width: 34px; height: 18px; position: absolute; right: 16px; top: 9px; }

.hentry { font-family: 'PT Sans regular', arial, sans-serif; margin-bottom: 40px; }
.hentry.hentry_inactive * { color: #aaafb6 !important; }
.hentry .hentry__content { font-size: 19px; font-weight: normal; color: #2d3746; line-height: 1.3; }
.hentry .hentry__content a { color: #2d3746; text-decoration: none; }
.hentry .hentry__content a:hover { color: #aaafb6; }
.hentry .hentry__media { display: block; margin-bottom: 26px; }
.hentry .hentry__media img { display: block; }
.hentry .hentry__source { font-size: 13px; color: #aaafb6; margin-top: 9px; }
.hentry .hentry__source a { text-decoration: none; color: #aaafb6; }
.hentry .hentry__source a span { color: #7ba608; }
.hentry .hentry__source a:hover { text-decoration: underline; }
.hentry .hentry__meta { color: #aaafb6; margin-top: 9px; font-size: 13px; }
.hentry .hentry__meta a { color: #2d78e1; text-decoration: none; }
.hentry .hentry__meta a:hover { text-decoration: underline; }

.hentry_mod { border-bottom: 1px solid #eaebed; margin-bottom: 25px; padding-bottom: 30px; }

.hentry__pagintaion { border: 1px solid #cdcdcd; height: 50px; line-height: 50px; margin-bottom: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; clear: both; text-align: center; }
.hentry__pagintaion a { display: inline-block; width: 100%; color: #f72501; font-family: "Arial", sans-serif; font-size: 15px; text-decoration: none; }
.hentry__pagintaion a:hover { text-decoration: underline; }

.hentry__nav { background: #2d3746; color: #fff; font-size: 14px; font-weight: bold; margin-bottom: 30px; }
.hentry__nav li { list-style-type: none; height: 40px; line-height: 40px; border-top: 1px solid #3b4759; position: relative; }
.hentry__nav li:first-child { border-top: 0; }
.hentry__nav li:hover, .hentry__nav li.is-active { border-top: 1px solid #fa674e; background-color: #fa674e; }
.hentry__nav li.is-active:before { position: absolute; top: 11px; left: 15px; content: ""; background: url('../img/icons-s69a073c04a.png') 0 -383px no-repeat; width: 15px; height: 15px; }
.hentry__nav a { display: block; color: #fff; font-size: 14px; font-weight: bold; text-decoration: none; padding-left: 42px; }

.solved { background: #2C3745; margin-left: -1px; margin-right: -1px; position: relative; padding-bottom: 13px; }
.solved .solved__title { color: #fff; font-size: 30px; font-size: 24px; font-weight: normal; font-family: 'AGLettericaCondensed-Bold', arial, sans-serif; border-bottom: 1px solid #3A4757; padding: 23px 0 23px 30px; margin-bottom: 14px; }
.solved .solved__title b { color: #a0afc3; font-weight: normal; }
.solved .solved__issue { float: left; margin-left: 25px; position: relative; left: 5px; }
.solved .solved__issue em { font-style: normal; font-size: 12px; color: #8394ad; display: block; }
.solved .solved__issue span { font-family: 'AGLettericaCondensed-Bold', arial, sans-serif; font-size: 30px; font-weight: bold; display: block; line-height: 1; }
.solved .solved__issue.is-ok span { color: #92AF39; }
.solved .solved__issue.is-notok span { color: #FF4835; }
.solved .solved__issue.is-inprocess span { color: #909090; }

.vote { padding: 30px; }
.vote .vote__head { margin-bottom: 12px; }
.vote .vote__q { font-size: 19px; color: #fa4b2a; line-height: 1.3; }
.vote .vote__option { margin: 0 -30px; border-top: 1px solid #D6D8DC; }
.vote .vote__option label { padding: 21px 0 21px 30px; cursor: pointer; display: block; }
.vote .vote__option.vote__option_first { border-top: none; }
.vote .vote__option input { margin-right: 6px; position: relative; top: -2px; }
.vote .vote__links { color: #fa4b2a; padding-top: 22px; border-top: 1px solid #EFEFF1; }
.vote .vote__links a { color: #fa4b2a; text-decoration: none; }
.vote .vote__links a:first-child { margin-right: 15px; }

.content__wrap { border: 1px solid #d6d8dc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 30px; -webkit-box-shadow: 0 5px 5px #ecedee; -moz-box-shadow: 0 5px 5px #ecedee; box-shadow: 0 5px 5px #ecedee; }

.content__wrap_mod { padding-bottom: 0; }

.content__wrap_alt { padding: 50px 0; }

.extra { color: #737981; font-family: "Arial", sans-serif; font-size: 12px; border-top: 1px solid #e3e4e6; margin-top: 30px; padding-top: 30px; }
.extra:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
.extra.extra_mod { padding-top: 132px; }
.extra p { margin-bottom: 2em; }
.extra li { list-style-type: none; margin-bottom: 25px; }
.extra li span { display: block; }

.extra__title { color: #2d3746; font-family: "Arial", sans-serif; font-size: 14px; font-weight: bold; margin-bottom: 2em; }

.extra__source p { color: #2d3746; font-size: 12px; margin-bottom: 0 !important; }

.extra__userpic { margin-bottom: 0.5em; }
.extra__userpic img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.content { font-family: Arial, sans-serif; color: #2d3746; font-size: 15px; }
.content p { margin-bottom: 1em; }
.content strong { font-weight: bold; }
.content blockquote { margin: 2em 0 2em 50px; padding: 1em 0 1em 2em; border-left: 6px solid #f82502; }
.content blockquote li { list-style-type: none; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eaebec; }
.content blockquote li:last-child { margin-bottom: 0; border-bottom: 0; padding-bottom: 0; }
.content blockquote span { color: #a7a68b; }

.content__title { border-bottom: 4px solid #eaebec; padding-bottom: 25px; margin-bottom: 25px; font-size: 18px; font-weight: bold; margin-bottom: 1em; }

.content__title_mod { position: relative; padding-left: 45px; line-height: 1; }
.content__title_mod .icon { position: absolute; top: 2px; left: 0; }
.content__title_mod .icon_checked { background: url('../img/icons-s69a073c04a.png') 0 -126px no-repeat; width: 32px; height: 32px; }
.content__title_mod .icon_checked_not { background: url('../img/icons-s69a073c04a.png') 0 -565px no-repeat; width: 32px; height: 32px; }

.content__list li { list-style-type: none; margin: 25px 0; padding: 0 80px 25px 0; border-bottom: 1px solid #eaebec; }
.content__list li:last-child { margin: 0; padding: 0 80px 0 0; border-bottom: 0; }

.content__list_mod li { margin: 0 0 25px; padding: 0 0 25px; }
.content__list_mod li:last-child { margin: 0; padding: 0; border-bottom: 0; }
.content__list_mod p { margin-bottom: 0; }

.content__date { color: #2d3746; font-size: 12px; margin-bottom: 1.5em; }

.content__source { padding: 30px; background-color: #c0c3c7; line-height: 1.4; font-size: 13px; color: #fff; -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.1); }
.content__source .h1 { color: #fff; margin-bottom: 0.5em; font-size: 24px; }
.content__source span { margin-left: 2em; }

.content__article { margin-bottom: 2.5em; }
.content__article ul { list-style-type: none; }
.content__article li { margin-bottom: 2em; }
.content__article i { font-style: italic; }

.content__pointlist { padding-left: 100px; }
.content__pointlist li { position: relative; list-style: none; }
.content__pointlist ol li { list-style-position: inside; list-style-type: inherit; margin-bottom: 1em; }

.content__pointlist-aside { width: 80px; position: absolute; top: 3px; left: -100px; color: #aaafb6; font-family: Georgia, "Century Schoolbook L", Serif; font-size: 11px; }

.collaboration { margin-top: 60px; }
.collaboration ul { margin-left: -13px; list-style-type: none; }
.collaboration li { float: left; margin-left: 13px; margin-top: 13px; border: 1px solid #d6d8dc; width: 167px; height: 88px; overflow: hidden; text-align: center; line-height: 88px; }
.collaboration li img { display: inline-block; vertical-align: middle; }
.collaboration li a { display: block; width: 100%; height: 100%; }
.collaboration .h2 { font-size: 24px; margin-bottom: .5em; font-weight: normal; }

.docs { margin-bottom: 2em; font-size: 15px; }

.docs__item { margin-top: 2em; }

.docs__col1 { float: left; width: 40%; }

.docs__col2 { float: right; width: 40%; }

.breadcrumbs { padding-bottom: 25px; margin-bottom: 40px; border-bottom: 1px solid #eaebec; }
.breadcrumbs li { display: inline-block; margin-right: 25px; line-height: 1; }
.breadcrumbs li:last-child a:before { content: none; }
.breadcrumbs a { position: relative; font-size: 13px; color: #f72501; text-decoration: none; }
.breadcrumbs a:hover { text-decoration: underline; }
.breadcrumbs a:before { position: absolute; top: 4px; right: -16px; content: ""; background: url('../img/icons-s69a073c04a.png') 0 -607px no-repeat; width: 5px; height: 9px; }

.pagination { font-size: 12px; font-weight: bold; line-height: 1; margin-top: 25px; }
.pagination ul { padding: 25px 0; border-top: 1px solid #eaebed; border-bottom: 1px solid #eaebed; }
.pagination li { list-style-type: none; display: inline-block; margin-right: 18px; border-bottom: 0 !important; padding-bottom: 0 !important; margin-bottom: 0 !important; }
.pagination li.is-active a { color: #000; }

.dropdown { padding-bottom: 20px; }
.dropdown.is-open div { color: #2d3746; }
.dropdown.is-open div i { background: url('../img/icons-s69a073c04a.png') 0 -468px no-repeat; width: 17px; height: 9px; }
.dropdown.is-open ul { display: block; }
.dropdown div { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 50px; line-height: 50px; border: 1px solid #cdcdcd; color: #f82502; padding-left: 25px; }
.dropdown div:hover { cursor: pointer; border: 1px solid transparent; background-color: #fbe5e1; }
.dropdown div i { position: absolute; top: 21px; right: 24px; content: ""; background: url('../img/icons-s69a073c04a.png') 0 -514px no-repeat; width: 17px; height: 9px; }
.dropdown ul { display: none; padding-left: 25px; padding-bottom: 20px; margin-top: 15px; }
.dropdown ul li { position: relative; list-style-type: none; border-top: 1px solid #eaebec; padding-top: 20px; padding-bottom: 20px; padding-left: 55px; }
.dropdown ul li:first-child { border-top: 0; margin-top: 0; }
.dropdown ul .icon { position: absolute; content: ""; top: 50%; margin-top: -11px; left: 16px; background: url('../img/icons-s69a073c04a.png') 0 -533px no-repeat; width: 21px; height: 22px; }
.dropdown ul .icon.icon_decree { margin-top: -16px; left: 9px; background: url('../img/icons-s69a073c04a.png') 0 -42px no-repeat; width: 32px; height: 32px; }

.overlay { display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; content: ""; background: rgba(45, 55, 70, 0.5); z-index: 1000; }
.overlay.is-open { display: block; }

.popup { display: none; position: absolute; width: 920px; top: 110px; left: 50%; margin-left: -460px; -webkit-box-shadow: 0 1px 7px rgba(45, 55, 70, 0.5); -moz-box-shadow: 0 1px 7px rgba(45, 55, 70, 0.5); box-shadow: 0 1px 7px rgba(45, 55, 70, 0.5); background-color: #fdfeff; z-index: 1001; }
.popup figure { margin: 2em 0; }
.popup figure img { display: block; float: right; margin-left: 15px; }
.popup figure img.image_left { float: left; margin-right: 15px; margin-left: 0; }
.popup figure figcaption { overflow: hidden; color: #a9afb5; font-size: 13px; }
.popup.is-open { display: block; }

.popup__close { position: absolute; top: 10px; right: 10px; content: ""; background: url('../img/icons-s69a073c04a.png') 0 -441px no-repeat; width: 17px; height: 17px; }
.popup__close:hover { cursor: pointer; }

.popup__button { color: #f94b29; font-family: "Arial"; font-size: 15px; border: 1px solid #f82502; height: 50px; line-height: 50px; padding: 0 40px; margin-top: 30px; background-color: transparent; }
.popup__button:hover { cursor: pointer; text-decoration: underline; }
.popup__button.popup__button_mod { margin-left: 100px; }

.popup_content { margin-top: 0; padding: 35px; }
.popup_content .h1 { margin-bottom: 0; }
.popup_content .h2 { font-size: 24px; font-family: 'PT Sans regular', arial, sans-serif; font-weight: normal; }

.popup_date { position: relative; line-height: 1; padding: 20px 27px; border-top: 1px solid #d3d6da; border-bottom: 1px solid #d3d6da; font-size: 12px; color: #aaafb6; margin: 35px 0; }
.popup_date i { position: absolute; left: 0; top: 50%; margin-top: -10px; content: ""; display: inline-block; vertical-align: middle; background: url('../img/icons-s69a073c04a.png') 0 -168px no-repeat; width: 20px; height: 20px; }

.squadmember { position: relative; }
.squadmember .h1 { margin-bottom: 0; line-height: 1; }

.squadmember__pic { position: absolute; top: 0; left: 0; width: 120px; overflow: hidden; }
.squadmember__pic img { display: block; }

.squadmember__content { float: left; width: 490px; margin-left: 145px; margin-right: 30px; }

.squadmember__heading { margin-bottom: 30px; }
.squadmember__heading p { font-size: 14px; font-style: italic; font-family: Georgia, "Century Schoolbook L", Serif; margin-bottom: 0; }

.squadmember__subtitle { font-family: 'PT Sans regular', arial, sans-serif; font-size: 24px; font-weight: normal; margin-bottom: 0.5em; }

.squadmember__chronicle { margin-top: 30px; border-top: 1px solid #eaebec; padding-top: 35px; font-family: arial, sans-serif; font-size: 14px; }
.squadmember__chronicle dl { line-height: 1.4; margin-bottom: 27px; }
.squadmember__chronicle dl:last-child { margin-bottom: 0; }
.squadmember__chronicle dt { float: left; width: 120px; margin-right: 10px; }
.squadmember__chronicle dd { overflow: hidden; }

.news { padding: 30px 0 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: 28px; }

.news__col { float: left; width: 280px; margin-right: 30px; }
.news__col .hentry_mod:last-child { border-bottom: 0; margin-bottom: 0; }

.news__col3 { margin-right: 0; }

.team .h1 { text-align: center; margin-bottom: 0.2em; }
.team .h2 { font-family: 'PT Sans regular', arial, sans-serif; font-weight: normal; font-size: 24px; text-align: center; margin: 40px 0 85px; position: relative; }
.team .h2:before { width: 1px; height: 24px; background-color: #e0e2e4; position: absolute; top: -30px; left: 465px; content: ""; }
.team .h2:after { background: url('../img/icons-s69a073c04a.png') 0 -226px no-repeat; width: 699px; height: 45px; position: absolute; bottom: -60px; left: 70px; content: ""; }
.team .h2_mod:before { width: 1px; height: 55px; background-color: #e0e2e4; position: absolute; top: -60px; left: 465px; content: ""; }
.team .h2_mod:after { background: url('../img/icons-s69a073c04a.png') 0 -408px no-repeat; width: 807px; height: 23px; position: absolute; bottom: -35px; left: 70px; content: ""; }
.team .content__date { text-align: center; margin-bottom: 48px; }

.team__topper { height: 160px; overflow: hidden; background-color: #f4f5f6; padding: 0 220px; margin-bottom: 45px; }

.team__image { height: 160px; width: 120px; overflow: hidden; float: left; margin-right: 40px; }
.team__image img { display: block; width: 100%; height: 100%; }

.team__chairman { overflow: hidden; line-height: 1.2; padding-top: 50px; }
.team__chairman div { font-weight: normal; font-size: 18px; }
.team__chairman strong { font-weight: bold; font-size: 18px; }
.team__chairman em { font-family: Georgia, "Century Schoolbook L", Serif; font-style: italic; font-weight: normal; font-size: 14px; }

.team__chairman-rank { margin-top: 10px; }

.team__members { padding-bottom: 30px; position: relative; }
.team__members li { list-style-type: none; width: 195px; margin-top: 25px; }
.team__members li:first-child { margin-top: 0; }
.team__members ul { margin-left: 35px; float: left; font-size: 14px; }
.team__members strong { font-weight: bold; }
.team__members em { font-family: Georgia, "Century Schoolbook L", Serif; font-style: italic; }

.duties ol { margin-bottom: 3em; counter-reset: li; padding: 0; list-style: none; }
.duties ol:last-child { margin-bottom: 0; }
.duties ol li { position: relative; margin: 0 0 1em 2.5em; }
.duties ol li:before { content: counter(li); counter-increment: li; position: absolute; top: 0px; left: -3.2em; width: 2em; padding: 3px 0; font-size: 11px; color: #aaafb6; font-weight: normal; font-family: Georgia, "Century Schoolbook L", Serif; text-align: left; }
