.nav .nav__logo, .nav .nav__searchsubmit, .header .plan .plan__format, .anons .anons__add { font: 0/0 a; text-shadow: none; color: transparent; }

.subnav ul, .header, .solved, .squadmember, .squadmember__chronicle dl, .monitoring, .counteraction, .cooperation, .collaboration ul { *zoom: 1; }
.subnav ul:before, .header:before, .solved:before, .squadmember:before, .squadmember__chronicle dl:before, .monitoring:before, .counteraction:before, .cooperation:before, .collaboration ul:before, .subnav ul:after, .header:after, .solved:after, .squadmember:after, .squadmember__chronicle dl:after, .monitoring:after, .counteraction:after, .cooperation:after, .collaboration ul:after { content: " "; display: table; }
.subnav ul:after, .header:after, .solved:after, .squadmember:after, .squadmember__chronicle dl:after, .monitoring:after, .counteraction:after, .cooperation:after, .collaboration ul:after { clear: both; }

@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { background: #EAEDEF; font-family: 'PT Sans regular', arial, sans-serif; line-height: 1.4; }

a img, fieldset { border: none; }

.page { padding: 55px 0px 30px 0px; }

.content { margin-top: 58px; padding: 0 30px; }

.nav { background: #2E3845; height: 60px; }
.nav .nav__inner { width: 1020px; margin: 0 auto; position: relative; }
.nav .nav__ul { list-style: none; margin-left: 71px; font-size: 0; }
.nav .nav__ul li { display: inline-block; margin-left: -1px; z-index: 1; position: relative; }
.nav .nav__ul li:hover, .nav .nav__ul li.is-active { background: #f82502; }
.nav .nav__ul li:hover a, .nav .nav__ul li.is-active a { color: #fff; }
.nav .nav__ul li:hover a:before, .nav .nav__ul li.is-active a:before { content: none; }
.nav .nav__ul a { display: inline-block; color: #a0afc3; text-decoration: none; height: 60px; line-height: 60px; padding: 0 13px; position: relative; font-size: 17px; }
.nav .nav__ul a:before { content: ' '; position: absolute; right: 0; top: 20px; border-right: 1px solid #354151; height: 22px; width: 1px; }
.nav .nav__ul a:hover { color: #fff; }
.nav .nav__ul li:last-child a:before { display: none; }
.nav .nav__logo { position: absolute; left: 21px; top: 12px; background: url('../img/icons-sea846ade44.png') 0 -288px no-repeat; width: 32px; height: 32px; }
.nav .nav__search { position: absolute; right: 21px; top: 17px; text-align: right; }
.nav .nav__searchsubmit { font-size: 0; border: none; -webkit-apperance: none; background: url('../img/icons-sea846ade44.png') 0 -525px no-repeat; width: 16px; height: 16px; vertical-align: middle; cursor: pointer; }
.nav .nav__searchtext { background: transparent; border-style: none; color: #A1B0C2; text-align: right; font-size: 17px; padding: 3px; width: 120px; }
.nav .nav__searchtext:-moz-placeholder { color: #a1b0c2; }
.nav .nav__searchtext::-webkit-input-placeholder { color: #a1b0c2; }
.nav .nav__searchtext:focus { outline: none; border-bottom: 1px solid #A1B0C2; }

.subnav { height: 75px; background-color: #f82502; }
.subnav ul { padding-left: 1px; margin-left: 70px; }
.subnav li { float: left; margin-left: -1px; list-style-type: none; }
.subnav li:hover, .subnav li.is-active { background-color: #fa674e; margin-left: -1px; }
.subnav a { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: top; color: #fff; width: 100%; padding: 0 25px 0 15px; font-weight: bold; text-decoration: none; height: 75px; line-height: 1.4; position: relative; font-size: 14px; padding-top: 18px; }
.subnav a:before { content: ' '; position: absolute; right: 0; top: 21px; border-right: 1px solid #fa674e; height: 28px; width: 1px; }
.subnav a:hover { color: #fff; }
.subnav li:last-child a:before { display: none; }

.subnav__inner { width: 1020px; margin: 0 auto; }

.header { margin: 0 30px; }
.header .header__title { font-weight: normal; font-size: 30px; color: #2d3746; line-height: 1.1; position: relative; padding-left: 30px; width: 640px; float: left; }
.header .header__title i { background: url('../img/icons-sea846ade44.png') 0 -684px no-repeat; width: 2px; height: 60px; position: absolute; left: 0; top: 3px; }
.header .plan { float: right; color: #fa4b2a; text-decoration: none; font-family: Arial,sans-serif; width: 200px; padding-left: 50px; position: relative; font-size: 15px; }
.header .plan .plan__meta { position: absolute; left: 0; top: 0; text-align: center; }
.header .plan .plan__format { display: block; margin-bottom: 6px; background: url('../img/icons-sea846ade44.png') 0 -551px no-repeat; width: 25px; height: 17px; display: inline-block; }
.header .plan .plan__size { color: #b4b3b3; font-size: 12px; display: block; text-align: center; }

body, html { height: 100%; }

.site { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -230px; }

.footer, .site__push { height: 230px; }

.footer { overflow: hidden; }
.footer .footer__in { background: #2E3845; width: 1020px; margin: 0 auto; padding: 20px 0; height: 190px; }
.footer a { color: #a0afc3; }
.footer a:hover { color: #fff; }
.footer .footer__other { float: left; width: 322px; }
.footer .footer__search { border-bottom: 1px solid #3A4757; padding-bottom: 14px; position: relative; margin-bottom: 19px; }
.footer .footer__searchicon { position: absolute; background: url('../img/icons-sea846ade44.png') 0 -525px no-repeat; width: 16px; height: 16px; top: 3px; left: 3px; }
.footer .footer__searchsubmit { visibility: hidden; position: absolute; }
.footer .footer__searchfield { width: 288px; margin-left: 33px; font-size: 17px; border-style: none; background: transparent; padding: 0; }
.footer .footer__searchfield:-moz-placeholder { color: #9fafc1; }
.footer .footer__searchfield::-webkit-input-placeholder { color: #9fafc1; }
.footer .footer__searchfield:focus { outline: none; color: #fff; }
.footer .footer__nav { float: left; width: 281px; margin-left: 60px; list-style: none; }
.footer .footer__nav li { font-size: 17px; margin-bottom: 6px; }
.footer .footer__nav a { text-decoration: none; }

.gossites { float: left; margin-left: 30px; list-style: none; width: 287px; margin-top: 5px; }
.gossites li { padding-left: 40px; padding-right: 43px; position: relative; font-size: 13px; margin-bottom: 30px; }
.gossites li a { text-decoration: none; display: inline-block; }
.gossites li i { position: absolute; left: 0; top: -2px; display: inline-block; }
.gossites li.gossites__kremlin i { background: url('../img/icons-sea846ade44.png') 0 0 no-repeat; width: 32px; height: 32px; left: -2px; }
.gossites li.gossites__gos i { background: url('../img/icons-sea846ade44.png') 0 -433px no-repeat; width: 36px; height: 32px; left: -7px; }
.gossites li.gossites__sovet i { background: url('../img/icons-sea846ade44.png') 0 -475px no-repeat; width: 36px; height: 15px; left: -4px; top: 18px; }
.gossites li.gossites__sovet a { color: #fc4d22; }

.flinks { list-style: none; font-size: 17px; }
.flinks li { margin-bottom: 13px; }
.flinks li.flinks__accessibility i { background: url('../img/icons-sea846ade44.png') 0 -605px no-repeat; width: 20px; height: 11px; top: 5px; }
.flinks li.flinks__pda i { background: url('../img/icons-sea846ade44.png') 0 -654px no-repeat; width: 12px; height: 20px; left: 2px; top: 1px; }
.flinks li.flinks__rss i { background: url('../img/icons-sea846ade44.png') 0 -500px no-repeat; width: 15px; height: 15px; left: 2px; top: 2px; }
.flinks a { padding-left: 33px; display: block; text-decoration: none; position: relative; }
.flinks a:hover { color: #fff; }
.flinks a i { display: inline-block; position: absolute; left: 0; top: -1px; }

.page { background: #fff; width: 1020px; margin: 0 auto; }

.l { width: 100%; display: inline-block; }
.l .l-colleft { float: left; width: 578px; float: left; margin-left: 30px; display: inline; margin-top: 20px; }
.l .l-colleft .l-col1 { float: left; width: 260px; }
.l .l-colleft .l-col2 { float: right; width: 260px; }
.l .l-colright { float: right; width: 321px; border-left: 1px solid #D6D8DC; }

.topnews { position: relative; margin-bottom: 30px; }
.topnews .topnews__content { position: absolute; left: 30px; bottom: 30px; width: 55%; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75); }
.topnews .topnews__title { font-size: 24px; font-weight: normal; color: #fff; line-height: 1.1; }
.topnews .topnews__published { font-size: 13px; color: #dee1e5; margin-top: 2px; }
.topnews .topnews__meta { color: #dee1e5; font-family: "Georgia", serif; font-size: 16px; font-style: italic; margin-top: 17px; }
.topnews.topnews_small { margin-bottom: 0; }
.topnews.topnews_small .topnews__title { font-size: 19px; margin-bottom: 5px; }
.topnews .topnews__pic { position: relative; }
.topnews .topnews__pic:after { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; content: ""; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, rgba(234, 237, 239, 0)), color-stop(90%, rgba(63, 72, 86, 0.7))); background-image: -webkit-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: -moz-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: -o-linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); background-image: linear-gradient(top, rgba(234, 237, 239, 0) 10%, rgba(63, 72, 86, 0.7) 90%); }
.topnews .topnews__pic img { display: block; }

.interview { position: relative; clear: both; }
.interview .interview__head { position: absolute; left: -30px; color: #fff; width: 160px; padding-left: 30px; height: 80px; line-height: 80px; font-size: 30px; font-size: 24px; font-family: 'PT Sans regular', arial, sans-serif; background: #FF4A30; z-index: 10; }

.h2 { font-size: 30px; font-weight: normal; font-family: 'PT Sans regular', arial, sans-serif; color: #2d3746; margin-bottom: 24px; }

.entrieswrap { border: 1px solid #DDDEE1; box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.05); padding-bottom: 30px; }

.graywrap { padding: 30px 30px 1px 30px; background: #F2F2F2; border-bottom: 1px solid #D6D8DC; }

.anons { border-bottom: 1px solid #D6D8DC; height: 41px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); position: relative; }
.anons .anons__title { float: left; font-size: 17px; background: #F2F2F2; height: 41px; line-height: 41px; border-right: 1px solid #D6D8DC; padding: 0 14px 0 16px; text-decoration: none; }
.anons .anons__title i { background: url('../img/icons-sea846ade44.png') 0 -578px no-repeat; width: 18px; height: 17px; display: inline-block; vertical-align: middle; margin-right: 11px; color: #2C3745; }
.anons .anons__content { color: #FF4835; height: 41px; line-height: 41px; overflow: hidden; padding-right: 50px; padding-left: 14px; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.anons .anons__content a { text-decoration: none; color: #FF4835; }
.anons .anons__add { background: url('../img/icons-sea846ade44.png') 0 -626px no-repeat; width: 34px; height: 18px; position: absolute; right: 16px; top: 9px; }

.hentry { margin-bottom: 40px; }
.hentry.hentry_inactive * { color: #aaafb6 !important; }
.hentry .hentry__content { font-size: 19px; font-weight: normal; color: #2d3746; line-height: 1.3; }
.hentry .hentry__content a { color: #2d3746; text-decoration: none; }
.hentry .hentry__media { display: block; margin-bottom: 26px; }
.hentry .hentry__media img { display: block; }
.hentry .hentry__source { font-family: 'PT Sans regular', arial, sans-serif; font-size: 13px; color: #aaafb6; margin-top: 9px; }
.hentry .hentry__source a { text-decoration: none; color: #aaafb6; }
.hentry .hentry__meta { font-family: 'PT Sans regular', arial, sans-serif; color: #aaafb6; margin-top: 9px; font-size: 13px; }
.hentry .hentry__meta a { color: #2d78e1; text-decoration: none; }

.solved { background: #2C3745; margin-left: -1px; margin-right: -1px; position: relative; padding-bottom: 13px; }
.solved .solved__title { color: #fff; font-size: 30px; font-size: 24px; font-weight: normal; font-family: 'PT Sans regular', arial, sans-serif; border-bottom: 1px solid #3A4757; padding: 23px 0 23px 30px; margin-bottom: 14px; }
.solved .solved__title b { color: #a0afc3; font-weight: normal; }
.solved .solved__issue { float: left; margin-left: 25px; position: relative; left: 5px; }
.solved .solved__issue em { font-style: normal; font-size: 12px; color: #8394ad; display: block; }
.solved .solved__issue span { font-family: 'PT Sans regular', arial, sans-serif; font-size: 30px; font-weight: bold; display: block; line-height: 1; }
.solved .solved__issue.is-ok span { color: #92AF39; }
.solved .solved__issue.is-notok span { color: #FF4835; }
.solved .solved__issue.is-inprocess span { color: #909090; }

.vote { padding: 30px; }
.vote .vote__head { margin-bottom: 12px; }
.vote .vote__q { font-size: 19px; color: #fa4b2a; line-height: 1.3; }
.vote .vote__option { margin: 0 -30px; border-top: 1px solid #D6D8DC; }
.vote .vote__option label { padding: 21px 0 21px 30px; cursor: pointer; display: block; }
.vote .vote__option.vote__option_first { border-top: none; }
.vote .vote__option input { margin-right: 6px; position: relative; top: -2px; }
.vote .vote__links { color: #fa4b2a; padding-top: 22px; border-top: 1px solid #EFEFF1; }
.vote .vote__links a { color: #fa4b2a; text-decoration: none; }
.vote .vote__links a:first-child { margin-right: 15px; }

.greatbox { border: 1px solid #d6d8dc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 30px; -webkit-box-shadow: 0 5px 5px #ecedee; -moz-box-shadow: 0 5px 5px #ecedee; box-shadow: 0 5px 5px #ecedee; }

.h1 { font-family: 'PT Sans regular', arial, sans-serif; font-size: 39px; font-weight: normal; color: #2d3746; margin-bottom: .5em; line-height: 1; }

.subtitle { font-size: 18px; font-weight: bold; color: #2d3746; font-family: arial, sans-serif; margin-bottom: 1em; }

.duties { color: #2d3746; font-size: 15px; }
.duties ol { counter-reset: li; padding: 0; list-style: none; }
.duties ol li { position: relative; margin: 0 0 1em 2.5em; }
.duties ol li:before { content: counter(li); counter-increment: li; position: absolute; top: 0px; left: -3.2em; width: 2em; padding: 3px 0; font-size: 11px; color: #aaafb6; font-weight: normal; font-family: Georgia, "Century Schoolbook L", Serif; text-align: left; }

.duties__article { margin-bottom: 3em; }
.duties__article:last-child { margin-bottom: 0; }

.breadcrumbs { padding-bottom: 25px; margin-bottom: 40px; border-bottom: 1px solid #eaebec; }
.breadcrumbs li { display: inline-block; margin-right: 25px; line-height: 1; }
.breadcrumbs li:last-child a:before { content: none; }
.breadcrumbs a { position: relative; font-size: 13px; color: #f72501; text-decoration: none; }
.breadcrumbs a:hover { text-decoration: underline; }
.breadcrumbs a:before { position: absolute; top: 4px; right: -16px; content: ""; background: url('../img/icons-sea846ade44.png') 0 -414px no-repeat; width: 5px; height: 9px; }

.squadmember { position: relative; font-size: 15px; color: #2d3746; }
.squadmember .h1 { margin-bottom: 0; line-height: 1; }

.squadmember__pic { position: absolute; top: 0; left: 0; width: 120px; overflow: hidden; }
.squadmember__pic img { display: block; }

.squadmember__content { float: left; width: 490px; margin-left: 145px; margin-right: 30px; }

.squadmember__meta { overflow: hidden; padding-top: 135px; color: #737981; font-size: 12px; font-family: "Arial", sans-serif; }
.squadmember__meta a { color: #f82502; text-decoration: none; }
.squadmember__meta a:hover { text-decoration: underline; }
.squadmember__meta .squadmember__title { color: #2d3746; font-size: 14px; font-weight: bold; margin-bottom: 25px; }
.squadmember__meta li { list-style-type: none; margin-bottom: 25px; }
.squadmember__meta li:last-child { margin-bottom: 0; }

.squadmember__heading { margin-bottom: 30px; }

.squadmember__description { font-size: 14px; font-style: italic; font-family: Georgia, "Century Schoolbook L", Serif; }

.squadmember__subtitle { color: #2d3746; font-family: 'PT Sans regular', arial, sans-serif; font-size: 24px; font-weight: normal; margin-bottom: 0.5em; }

.squadmember__chronicle { margin-top: 30px; border-top: 1px solid #eaebec; padding-top: 35px; font-family: arial, sans-serif; font-size: 14px; }
.squadmember__chronicle dl { line-height: 1.4; margin-bottom: 27px; }
.squadmember__chronicle dl:last-child { margin-bottom: 0; }
.squadmember__chronicle dt { float: left; width: 120px; margin-right: 10px; }
.squadmember__chronicle dd { overflow: hidden; }

.pagination { font-size: 12px; font-weight: bold; font-family: arial, sans-serif; line-height: 1; }
.pagination ul { padding-bottom: 25px; border-bottom: 1px solid #eaebed; }
.pagination li { list-style-type: none; display: inline-block; margin-right: 18px; border-bottom: 0 !important; padding-bottom: 0 !important; margin-bottom: 0 !important; }
.pagination li.is-active a { color: #000; }
.pagination a { color: #f82502; text-decoration: none; }
.pagination a:hover { color: #000; text-decoration: none; }

.action__list { font-family: arial, sans-serif; color: #2d3746; }
.action__list li { list-style-type: none; margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #eaebed; }
.action__list .action__heading { color: #f72501; font-size: 18px; line-height: 1.2; margin-bottom: 5px; }
.action__list .action__heading a { color: #f72501; text-decoration: none; font-weight: bold; }
.action__list .action__heading a:hover { text-decoration: underline; }

.action__time { color: #2d3746; font-size: 12px; margin-bottom: 20px; }

.monitoring__content { float: left; width: 640px; margin-right: 50px; color: #2d3746; font-family: "Arial"; font-size: 15px; }
.monitoring__content a { color: #f82502; text-decoration: none; }
.monitoring__content a:hover { text-decoration: underline; }
.monitoring__content p { margin-bottom: 1.5em; }
.monitoring__content blockquote { margin: 2em 0 2em 50px; padding-left: 20px; border-left: 6px solid #f82502; }
.monitoring__content blockquote li { list-style-type: none; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #eaebec; }
.monitoring__content blockquote li:last-child { margin-bottom: 0; border-bottom: 0; padding-bottom: 0; }

.monitoring__meta { padding-top: 100px; overflow: hidden; color: #737981; font-size: 12px; font-family: "Arial", sans-serif; }
.monitoring__meta a { color: #f82502; text-decoration: none; }
.monitoring__meta a:hover { text-decoration: underline; }
.monitoring__meta .monitoring__title { color: #2d3746; font-size: 14px; font-weight: bold; margin-bottom: 25px; }

.monitoring__subtitle { font-size: 18px; font-weight: bold; }

.counteraction { color: #2d3746; font-family: "Arial"; font-size: 15px; }
.counteraction .subtitle { border-bottom: 4px solid #eaebec; padding-bottom: 25px; margin-bottom: 25px; }
.counteraction a { color: #fa4b2a; text-decoration: none; }
.counteraction a:hover { text-decoration: underline; }

.counteraction__left { float: left; width: 425px; }

.counteraction__right { float: right; width: 425px; }

.counteraction__list li { list-style-type: none; margin: 25px 0; padding: 0 80px 25px 0; border-bottom: 1px solid #eaebec; }
.counteraction__list li:last-child { margin: 0; padding: 0 80px 0 0; border-bottom: 0; }

.icon { display: inline-block; vertical-align: middle; }

.icon_checked { background: url('../img/icons-sea846ade44.png') 0 -330px no-repeat; width: 32px; height: 32px; }

.icon_checked_not { background: url('../img/icons-sea846ade44.png') 0 -372px no-repeat; width: 32px; height: 32px; }

.cooperation { color: #2d3746; font-family: "Arial"; font-size: 15px; }
.cooperation .subtitle { border-bottom: 4px solid #eaebec; padding-bottom: 25px; margin-bottom: 25px; position: relative; padding-left: 45px; line-height: 1; }
.cooperation .subtitle .icon { position: absolute; top: 2px; left: 0; }
.cooperation a { color: #fa4b2a; text-decoration: none; }
.cooperation a:hover { text-decoration: underline; }

.cooperation__left { float: left; width: 425px; }

.cooperation__right { float: right; width: 425px; }

.cooperation__list li { list-style-type: none; margin: 25px 0; padding: 0 0 25px 0; border-bottom: 1px solid #eaebec; }
.cooperation__list li:last-child { margin: 0; padding: 0; border-bottom: 0; }

.collaboration { margin-top: 60px; }
.collaboration .h1 { font-size: 24px; margin-bottom: 1em; }
.collaboration ul { margin-left: -13px; }
.collaboration li { float: left; list-style-type: none; margin-left: 13px; margin-bottom: 13px; border: 1px solid #d6d8dc; width: 167px; height: 88px; overflow: hidden; text-align: center; line-height: 88px; }
.collaboration li img { display: inline-block; vertical-align: middle; }
.collaboration li a { display: block; width: 100%; height: 100%; }
