.nav{
	background: #2E3845;
	height: 60px;
	@extend %clr;
	.nav__inner{
		width: $sitewidth;
		margin: 0 auto;
		position: relative;
	}
	.nav__ul{
		list-style: none;
		margin-left: 84px - 13px;
		font-size: 0;
		float: left;
		li{
			display: inline-block;
			margin-left: -1px;
			z-index: 1;
			position: relative;
			&:hover,&.is-active{
				background: #f82502;
				a{
					color: #fff;
					&:before{
						content: none;
					}
				}
			}
		}
		a{
			display: inline-block;
			color: #a0afc3;
			text-decoration: none;
			height: 60px;
			line-height: 60px;
			padding: 0 13px;
			position: relative;
			font-size: 17px;
			&:before{
				content: ' ';
				position: absolute;
				right: 0;
				top: 20px;
				border-right: 1px solid #354151;
				height: 22px;
				width: 1px;
			}
			&:hover{
				color: #fff;
			}
		}
		li:last-child{
			a{
				&:before{
					display: none;
				}
			}
		}
	}
	.nav__logo{
		position: absolute;
		left: 21px;
		top: 12px;
		@include s(orel);
		@extend %hide-text;
	}
	.nav__search{
		position: relative;
		float: right;
		width: 117px;
		color: #a1b0c2;
		font-size: 17px;
		text-align: center;
		height: 60px;
		line-height: 60px;
		i{
			@include s(search);
			display: inline-block;
			vertical-align: middle;
			content: "";
			margin-left: 10px;
			margin-top: -5px;
		}
		&:hover,&.is-open{
			cursor: pointer;
			background-color: #000;
			color: #fff;
			i{
				@include s(search2);
			}
		}
	}
}
.search{
	display: none;
	background-color: #020203;
	// height: 150px;
	font-size: 14px;
	color: #9fafc3;
}
.search__in{
	width: $sitewidth;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 25px;
}
.search__wrap{
	padding-left: 22px;
}
.search__field{
	@extend %clr;
	width: 938px;
	position: relative;
	font-size: 18px;
}
.search__text{
	float: left;
	width: 827px;
	background: #fff;
	border-style: none;
	font-size: 18px;
	color: #2d3746;
	padding: 11px 20px;
	@include box-sizing(border-box);
	@include placeholder-color(#b9bdbb);
}
.search__erase{
	@include s(search_erase);
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 787px;
	&:hover{
		cursor: pointer;
	}
}
.search__submit{
	float: right;
	width: 111px;
	background-color: #f82502;
	border: 0;
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 18px;
	&:hover{
		cursor: pointer;
	}
}
.search__close{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: -50px;
	content: "";
	cursor: pointer;
	@include s(close_search);
}
.search__filter{
	margin-top: 22px;
	@extend %clr;
	ul{
		float: left;
	}
	li{
		position: relative;
		list-style-type: none;
		float: left;
		padding-left: 30px;
		&.is-active{
			i{
				display: block;
			}
			a{
				color: #f82502;
				text-decoration: none;
			}
		}
		i{
			display: none;
			position: absolute;
			content: "";
			top: 0;
			left: 13px;
			@include s(search_check);
		}
	}
	a{
		color: #9fafc3;
		text-decoration: none;
		&:hover{
			color: #f82502;
			text-decoration: none;
		}
	}
}
.search__filter-title{
	float: left;
}
.subnav{
	// display: none;
	height: 75px;
	background-color: #f82502;
	ul{
		padding-left: 1px;
		margin-left: 70px;
		@extend %clr;
	}
	li{
		float: left;
		margin-left: -1px;
		list-style-type: none;
		&:hover,&.is-active{
			background-color: #fa674e;
			margin-left: -1px;
		}
	}
	a{
		@include box-sizing(border-box);
		display: inline-block;
		vertical-align: top;
		color: #fff;
		width: 100%;
		padding: 0 25px 0 15px;
		font-weight: bold;
		text-decoration: none;
		height: 75px;
		line-height: 1.4;
		@include ptsansb;
		position: relative;
		font-size: 14px;
		padding-top: 18px;
		&:before{
			content: ' ';
			position: absolute;
			right: 0;
			top: 21px;
			border-right: 1px solid #fa674e;
			height: 28px;
			width: 1px;
		}
		&:hover{
			color: #fff;
		}
	}
	li:last-child{
		a{
			&:before{
				display: none;
			}
		}
	}
}
.subnav__inner{
	width: $sitewidth;
	margin: 0 auto;
}

.header{
	@extend %clr;
	margin: 0 30px;
	.header__title{
		@include ag;
		font-weight: normal;
		font-size: 30px;
		color: #2d3746;
		line-height: 1.1;
		position: relative;
		padding-left: 30px;
		width: 640px;
		float: left;
		i{
			@include s(flag);
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

	.plan{
		float: right;
		color: #fa4b2a;
		text-decoration: none;
		font-family: Arial,sans-serif;
		width: 200px;
		padding-left: 50px;
		position: relative;
		font-size: 15px;
		&:hover{
			text-decoration: underline;
		}
		.plan__meta{
			position: absolute;
			left: 0;
			top: 0;
// 			padding-top: 13px;
			text-align: center;
		}
		.plan__format{
// 			font-weight: bold;
// 			font-size: 15px;
// 			text-decoration: underline;
// 			color: #FD1E1A;
			display: block;
			margin-bottom: 6px;
			@extend %hide-text;
			display: inline-block;
		}
		.plan__size{
			color: #b4b3b3;
			font-size: 12px;
			display: block;
			text-align: center;
		}
		&.plan_mod{
			float: left;
			width: 100%;
		}
		&.plan_pdf{
			color: #fa4b2a;
			.plan__format{
				@include s(pdf);
			}
		}
		&.plan_doc{
			color: #0963c1;
			.plan__format{
				@include s(doc);
			}
		}
		&.plan_rtf{
			color: #5f504f;
			.plan__format{
				@include s(rtf);
			}
		}
		&.plan_long{
			float: left;
			width: 100%;
		}
	}





// footer stick
body,html{
	height:100%;
}
.site{
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -230px;
}
.footer,.site__push{
	height:230px;
}

.footer{
	overflow: hidden;
	.footer__in{
		background: #2E3845;
		width: $sitewidth;
		margin: 0 auto;
		padding: 20px 0;
		height: 230px - 40px;
	}
	a{
		color: #a0afc3;
		&:hover{
			color: #fff;
		}
	}
	.footer__other{
		float: left;
		width: 322px;
	}
	.footer__search{
		border-bottom: 1px solid #3A4757;
		padding-bottom: 14px;
		position: relative;
		margin-bottom: 19px;
	}
	.footer__searchicon{
		position: absolute;
		@include s(search);
		top: 3px;
		left: 3px;
	}
	.footer__searchsubmit{
		visibility:hidden;
		position: absolute;
	}
	.footer__searchfield{
		width: 288px;
		margin-left: 33px;
		@include placeholder-color(#9FAFC1);
		font-size: 17px;
		border-style: none;
		background: transparent;
		padding: 0;
		&:focus{
			outline:none;
			color: #fff;
		}
	}
	.footer__nav{
		float: left;
		width: 281px;
		margin-left: 60px;
		list-style: none;
		li{
			font-size: 17px;
			margin-bottom: 6px;
		}
		a{
			text-decoration: none;
		}
	}
}
.gossites{
	float: left;
	margin-left: 30px;
	list-style: none;
	width: 287px;
	margin-top: 5px;
	li{
		padding-left: 40px;
		padding-right: 43px;
		position: relative;
		font-size: 13px;
		margin-bottom: 30px;
		a{
			text-decoration: none;
			display: inline-block;
		}
		i{
			position: absolute;
			left: 0;
			top: -2px;
			display: inline-block;
		}
		&.gossites__kremlin i{
			@include s(kremlin);
			left: -2px;
		}
		&.gossites__gos i{
			@include s(gos);
			left: -7px;
		}
		&.gossites__sovet{
			i{
				@include s(i2013);
				left: -4px;
				top: 18px;
			}
			a{
				color: #fc4d22;
			}
		}
	}
}
.flinks{
	list-style: none;
	font-size: 17px;
	li{
		margin-bottom: 13px;
		&.flinks__accessibility i{
			@include s(special);
			top: 5px;
		}
		&.flinks__pda i{
			@include s(pda);
			left: 2px;
			top: 1px;
		}
		&.flinks__rss i{
			@include s(rss);
			left: 2px;
			top: 2px;
		}
	}
	a{
		padding-left: 33px;
		display: block;
		text-decoration: none;
		position: relative;
		&:hover{
			color: #fff;
		}
		i{
			display: inline-block;
			position: absolute;
			left: 0;
			top: -1px;
		}
	}
}