.lteie8{
	.overlay{
		background: url('../img/bg_overlay.png');
	}
	.search__submit{
		height: 43px;
		line-height: 44px;
		color: #fff;
		font-size: 18px;
		&:hover{
			cursor: pointer;
		}
	}
	.nav__ul{
		li{
			float: left;
		}
		a{
			display: block;
		}
	}













}