// Normally mainpage styles

.h1{
	font-size: 37px;
	font-weight: normal;
	@include ptsans;
	margin-bottom: 0.5em;
	line-height: 1.1;
}
.h2{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1em;
}
.h2_mod{
	line-height: 1.2;
	margin-bottom: 5px;
}

.topnews{
	position: relative;
	margin-bottom: 30px;
	.topnews__content{
		position: absolute;
		left: 30px;
		bottom: 30px;
		width: 55%;
		text-shadow: 0 1px 3px rgba(0,0,0,.75);
	}
	.topnews__title{
		font-size: 24px;
		font-weight: normal;
		color: #fff;
		line-height: 1.1;
	}
	.topnews__published{
		font-size: 13px;
		color: #dee1e5;
		margin-top: 2px;
	}
	.topnews__meta{
		color: #dee1e5;
		font-family: "Georgia", serif;
		font-size: 16px;
		font-style: italic;
		margin-top: 17px;
	}
	&.topnews_small{
		margin-bottom: 0;
		.topnews__title{
			font-size: 19px;
			margin-bottom: 5px;
		}
	}
	.topnews__pic{
		position: relative;
		&:after{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			@include background-image(linear-gradient(top, rgba(#eaedef,0) 10%, rgba(#3f4856,.7) 90%));
		}
		img{
			display: block;
		}
	}
}
.interview{
	position: relative;
	clear: both;
	.interview__head{
		position: absolute;
		left: -30px;
		color: #fff;
		width: 160px;
		padding-left: 30px;
		height: 80px;
		line-height: 80px;
		font-size: 30px;
		font-size: 24px;
		@include ag;
		background: #FF4A30;
		z-index: 10;
	}
}
.entrieswrap{
	border: 1px solid #DDDEE1;
	box-shadow: 0 5px 10px -10px rgba(0,0,0,.05);
	@include box-shadow(0 5px 5px #ecedee);
	.h2{
		font-size: 30px;
		font-weight: normal;
		@include ag;
		color: #2d3746;
		margin-bottom: 24px;
	}
}
.graywrap{
	padding: 30px 30px 1px 30px;
	background: #F2F2F2;
	border-bottom: 1px solid #D6D8DC;
}
.anons{
	border-bottom: 1px solid #D6D8DC;
	height: 41px;
	box-shadow: 0 5px 10px rgba(0,0,0,.05);
	position: relative;
	.anons__title{
		float: left;
		font-size: 17px;
		background: #F2F2F2;
		height: 41px;
		line-height: 41px;
		border-right: 1px solid #D6D8DC;
		padding: 0 14px 0 16px;
		text-decoration: none;
		i{
			@include s(anons);
			display: inline-block;
			vertical-align: middle;
			margin-right: 11px;
			color: #2C3745;
		}
	}
	.anons__content{
		color: #FF4835;
		height: 41px;
		line-height: 41px;
		overflow: hidden;
		padding-right: 50px;
		padding-left: 14px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		a{
			text-decoration: none;
			color: #FF4835;
		}
	}
	.anons__add{
		@extend %hide-text;
		@include s(anons__add);
		position: absolute;
		right: 16px;
		top: 9px;
	}
}
.hentry{
	@include ptsans;
	margin-bottom: 40px;
	&.hentry_inactive{
		*{
			color: #aaafb6 !important;
		}
	}
	.hentry__content{
		font-size: 19px;
		font-weight: normal;
		color: #2d3746;
		line-height: 1.3;
		a{
			color: #2d3746;
			text-decoration: none;
			&:hover{
				color: #aaafb6;
			}
		}
	}
	.hentry__media{
		display: block;
		margin-bottom: 26px;
		img{
			display: block;
		}
	}
	.hentry__source{
		font-size: 13px;
		color: #aaafb6;
		margin-top: 9px;
		a{
			text-decoration: none;
			color: #aaafb6;
			span{
				color: #7ba608
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.hentry__meta{
		color: #aaafb6;
		margin-top: 9px;
		font-size: 13px;
		a{
			color: #2d78e1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.hentry_mod{
	border-bottom: 1px solid #eaebed;
	margin-bottom: 25px;
	padding-bottom: 30px;
}
.hentry__pagintaion{
	border: 1px solid #cdcdcd;
	height: 50px;
	line-height: 50px;
	margin-bottom: 30px;
	@include box-sizing(border-box);
	width: 100%;
	clear: both;
	text-align: center;
	a{
		display: inline-block;
		width: 100%;
		color: #f72501;
		font-family: "Arial", sans-serif;
		font-size: 15px;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.hentry__nav{
	background: #2d3746;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
	li{
		list-style-type: none;
		height: 40px;
		line-height: 40px;
		border-top: 1px solid #3b4759;
		position: relative;
		&:first-child{
			border-top: 1px solid transparent;
		}
		&:hover, &.is-active{
			border-top: 1px solid #fa674e;
			background-color: #fa674e;
		}
		&.is-active{
			&:before{
				position: absolute;
				top: 11px;
				left: 15px;
				content: "";
				@include s(hentry_check);
			}
		}
	}
	a{
		display: block;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		padding-left: 42px;
	}
}

.solved{
	background: #2C3745;
	margin-left: -1px;
	margin-right: -1px;
	position: relative;
	@extend %clr;
	padding-bottom: 13px;
	.solved__title{
		color: #fff;
		font-size: 30px;
		font-size: 24px;
		font-weight: normal;
		@include ag;
		border-bottom: 1px solid #3A4757;
		padding: 23px 0 23px 30px;
		margin-bottom: 14px;
		b{
			color: #a0afc3;
			font-weight: normal;
		}
	}
	.solved__issue{
		float: left;
		margin-left: 25px;
		position: relative;
		left: 5px;

		em{
			font-style: normal;
			font-size: 12px;
			color: #8394ad;
			display: block;
		}
		span{
			@include ag;
			font-size: 30px;
			font-weight: bold;
			display: block;
			line-height: 1;

		}
		&.is-ok span{color: #92AF39;}
		&.is-notok span{color: #FF4835;}
		&.is-inprocess span{color: #909090;}
	}
}
.vote{
	padding: 30px;
	.vote__head{
		margin-bottom: 12px;
	}
	.vote__q{
		font-size: 19px;
		color: #fa4b2a;
		line-height: 1.3;
	}
	.vote__option{
		margin: 0 -30px;
		border-top: 1px solid #D6D8DC;
		
		label{
			padding: 21px 0 21px 30px;
			cursor: pointer;
			display: block;
		}
		&.vote__option_first{
			border-top: none;
		}
		input{
			margin-right: 6px;
			position: relative;
			top: -2px;
		}

	}
	.vote__links{
		color: #fa4b2a;
		padding-top: 22px;
		border-top: 1px solid #EFEFF1;
		
		a{
			color: #fa4b2a;
			text-decoration: none;
			&:first-child{
				margin-right: 15px;
			}
		}
	}
}







