// default layout
.page{
	background: #fff;
	width: $sitewidth;
	margin: 0 auto;
}
.l{
	width: 100%;
	display: inline-block;
	.l-colleft{
		float:left;
		width: 578px;
		float: left;
		margin-left: 30px;
		display: inline;
		margin-top: 20px;
		.l-col1{
			float: left;
			width: 260px;
		}
		.l-col2{
			float: right;
			width: 260px;
		}
	}

	.l-colright{
		float:right;
		width: 321px;
		border-left: 1px solid #D6D8DC;
	}
}
