// default layout
.page{
	background: #fff;
	width: $sitewidth;
	margin: 0 auto;
}
.l{
	width: 100%;
	display: inline-block;
	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
}
