.monitoring{
	@extend %clr;
}
.monitoring__content{
	float: left;
	width: 640px;
	margin-right: 50px;
	color: #2d3746;
	font-family: "Arial";
	font-size: 15px;
	a{
		color: #f82502;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
		margin-bottom: 1.5em;
	}
	blockquote{
		margin: 2em 0 2em 50px;
		padding-left: 20px;
		border-left: 6px solid #f82502;
		li{
			list-style-type: none;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #eaebec;
			&:last-child{
				margin-bottom: 0;
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}
.monitoring__meta{
	overflow: hidden;
	color: #737981;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	a{
		color: #f82502;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	.h1{
		color: #2d3746;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 25px;
	}
}
.monitoring__strong{
	font-size: 18px;
	font-weight: bold;
}