.content__wrap{
  border: 1px solid #d6d8dc;
  @include box-sizing(border-box);
  padding: 30px;
  @include box-shadow(0 5px 5px #ecedee);
}
.content__wrap_mod{
  padding-bottom: 0;
}

.content__wrap_alt{
  padding: 50px 0;
}
.extra{
  color: #737981;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  border-top: 1px solid #e3e4e6;
  margin-top: 30px;
  padding-top: 30px;
  &:first-child{
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
  &.extra_mod{
    padding-top: 132px;
  }
  p{
    margin-bottom: 2em;
  }
  li{
    list-style-type: none;
    margin-bottom: 25px;
    span{
      display: block;
    }
  }
}
.extra__title{
  color: #2d3746;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2em;
}
.extra__source{
  p{
    color: #2d3746;
    font-size: 12px;
    margin-bottom: 0 !important;
  }
}
.extra__userpic{
  margin-bottom: 0.5em;
  img{
    @include border-radius(50%);
  }
}

.content{
  font-family: Arial, sans-serif;
  color: #2d3746;
  font-size: 15px;
  p{
    margin-bottom: 1em;
  }
  strong{
    font-weight: bold;
  }
  blockquote{
    margin: 2em 0 2em 50px;
    padding: 1em 0 1em 2em;
    border-left: 6px solid #f82502;
    li{
      list-style-type: none;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #eaebec;
      &:last-child{
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    span{
      color: #a7a68b;
    }
  }

}
.content__title{
  border-bottom: 4px solid #eaebec;
  padding-bottom: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}
.content__title_mod{
  position: relative;
  padding-left: 45px;
  line-height: 1;
  .icon{
    position: absolute;
    top: 2px;
    left: 0;
  }
    .icon_checked{ @include s(checked); }
    .icon_checked_not{ @include s(checked_not); }
}
.content__list{
  li{
    list-style-type: none;
    margin: 25px 0;
    padding: 0 80px 25px 0;
    border-bottom: 1px solid #eaebec;
    &:last-child{
      margin: 0;
      padding: 0 80px 0 0;
      border-bottom: 0;
    }
  }
}
.content__list_mod{
  li{
    margin: 0 0 25px;
    padding: 0 0 25px;
    &:last-child{
      margin: 0;
      padding: 0;
      border-bottom: 0;
    }
  }
  p{
    margin-bottom: 0;
  }
}
.content__date{
  color: #2d3746;
  font-size: 12px;
  margin-bottom: 1.5em;
}
.content__source{
  padding: 30px;
  background-color: #c0c3c7;
  line-height: 1.4;
  font-size: 13px;
  color: #fff;
  @include box-shadow(inset 0px 3px 10px 0px rgba(#000,.1));
  .h1{
    color: #fff;
    margin-bottom: 0.5em;
    font-size: 24px;
  }
  span{
    margin-left: 2em;
  }
}
.content__article{
  margin-bottom: 2.5em;
  ul{
    list-style-type: none;
  }
  li{
    margin-bottom: 2em;
  }
  i{
    font-style: italic;
  }
}
.content__pointlist{
  padding-left: 100px;
  li{
    position: relative;
    list-style: none;
  }
  ol{
    li{
      list-style-position: inside;
      list-style-type: inherit;
      margin-bottom: 1em;
    }
  }
}
.content__pointlist-aside{
  width: 80px;
  position: absolute;
  top: 3px;
  left: -100px;
  color: #aaafb6;
  font-family: Georgia, "Century Schoolbook L", Serif;
  font-size: 11px;
}

.collaboration{
  margin-top: 60px;
  ul{
    margin-left: -13px;
    @extend %clr;
    list-style-type: none;
  }
  li{
    float: left;
    margin-left: 13px;
    margin-top: 13px;
    border: 1px solid #d6d8dc;
    width: 167px;
    height: 88px;
    overflow: hidden;
    text-align: center;
    line-height: 88px;
    img{
      display: inline-block;
      vertical-align: middle;
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .h2{
    font-size: 24px;
    margin-bottom: .5em;
    font-weight: normal;
  }
}


.docs{
  @extend %clr;
  margin-bottom: 2em;
  font-size: 15px;
}
.docs__item{
  margin-top: 2em;
}
.docs__cols{
  @extend %clr;
}
.docs__col1{
  float: left;
  width: 40%;
}
.docs__col2{
  float: right;
  width: 40%;
}

.breadcrumbs{
  padding-bottom: 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaebec;
  li{
    display: inline-block;
    margin-right: 25px;
    line-height: 1;
    &:last-child{
      a{
        &:before{
          content: none;
        }
      }
    }
  }
  a{
    position: relative;
    font-size: 13px;
    color: #f72501;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    &:before{
      position: absolute;
      top: 4px;
      right: -16px;
      content: "";
      @include s(chevron);
    }
  }
}

.pagination{
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-top: 25px;
  ul{
    padding: 25px 0;
    border-top: 1px solid #eaebed;
    border-bottom: 1px solid #eaebed;
  }
  li{
    list-style-type: none;
    display: inline-block;
    margin-right: 18px;
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    &.is-active{
      a{
        color: #000;
      }
    }
  }
}

.dropdown{
  padding-bottom: 20px;
  &.is-open{
    div{
      color: #2d3746;
      i{
        @include s(arr2);
      }
    }
    ul{
      display: block;
    }
  }
  div{
    position: relative;
    @include box-sizing(border-box);
    height: 50px;
    line-height: 50px;
    border: 1px solid #cdcdcd;
    color: #f82502;
    padding-left: 25px;
    &:hover{
      cursor: pointer;
      border: 1px solid transparent;
      background-color: #fbe5e1;
    }
    i{
      position: absolute;
      top: 21px;
      right: 24px;
      content: "";
      @include s(arr);
    }
  }
  ul{
    display: none;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-top: 15px;
    li{
      position: relative;
      list-style-type: none;
      border-top: 1px solid #eaebec;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 55px;
      &:first-child{
        border-top: 0;
        margin-top: 0;
      }
    }
    .icon{
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -11px;
      left: 16px;
      @include s(ico_text);
      &.icon_decree{
        margin-top: -16px;
        left: 9px;
        @include s(ico_gerb);
      }
    }
  }
}




