.squadmember{
	position: relative;
	.h1{
		margin-bottom: 0;
		line-height: 1;
	}
}
.squadmember__pic{
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	overflow: hidden;
	img{
		display: block;
	}
}
.squadmember__content{
	float: left;
	width: 490px;
	margin-left: 145px;
	margin-right: 30px;
}
.squadmember__heading{
	margin-bottom: 30px;
	p{
		font-size: 14px;
		font-style: italic;
		font-family: Georgia, "Century Schoolbook L", Serif;
		margin-bottom: 0;
	}
}
.squadmember__subtitle{
	@include ptsans;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 0.5em;
}
.squadmember__chronicle{
	margin-top: 30px;
	border-top: 1px solid #eaebec;
	padding-top: 35px;
	font-family: arial, sans-serif;
	font-size: 14px;
	dl{
		@extend %clr;
		line-height: 1.4;
		margin-bottom: 27px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	dt{
		float: left;
		width: 120px;
		margin-right: 10px;
	}
	dd{
		overflow: hidden;
	}
}