.targets{
}
.targets__article{
	margin-bottom: 2.5em;
	li{
		list-style-type: none;
		margin-bottom: 2em;
	}
	p{
		margin-bottom: 1em;
	}
	blockquote{
		margin: 2em 0 0 3em;
		padding: 1em 0 1em 2em;
		border-left: 6px solid #f82502;
		color: #a7a68b;
		font-size: 15px;
	}
}
.targets__source{
	padding: 30px;
	background-color: #c0c3c7;
	line-height: 1.4;
	font-size: 13px;
	color: #fff;
	@include box-shadow(inset 0px 3px 10px 0px rgba(#000,.1));
	.h1{
		color: #fff;
		margin-bottom: 0.5em;
		font-size: 24px;
	}
	span{
		margin-left: 2em;
	}
}