@import "lib/base"; // mixins, sprites, helpers, no real css here
@import "fonts"; // ptsans
@import "common"; // resets, base styles
@import "headerfooter"; // guess what is here
@import "layouts";
@import "index";
@import "duties";
@import "squad";
@import "action";
@import "monitoring";
@import "counteraction";
@import "cooperation";
@import "news";
@import "targets";

// this is just example of  how commenting css might be done in big projects
//@import "styledocco";
